@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reuseable */
.myContainer {
  @apply w-full px-4 lg:px-6 2xl:px-0 max-w-7xl mx-auto;
}
.myBg {
  @apply bg-cover bg-no-repeat bg-center;
}
.active {
  @apply px-4 py-1  border-b-2 rounded-full;
}
.dark {
  background-color: #fff;
  color: #1f2340;
}

/* Humburger menu */
.menuIcon {
  height: 24px !important;
  width: 24px !important;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Manage user */
.btn-disabled,
.btn[disabled],
.btn:disabled {
  background-color: #1f2340;
  --tw-bg-opacity: 0.2;
  color: #ffffff56;
}

/* Footer */
.footerBg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url(./assets/home/footer-bg.png);
}
